<br>
<br>
<br>
<br>
<div class="container fixed-top" style="width: 100%;">
<br>
<nav class="navbar navbar-expand-xl bg-primary  navbar-dark" >
  <!-- Links -->
  <a routerLink="/articles" class="nav-link  "> <h3 > <span class="text-dark bold ">MTP   </span> <span class="text-warning"> SHOP</span></h3></a>
  <ul class="navbar-nav ml-auto float-right" >
   
   <li class="nav-item float-right">
      <h5> <a   routerLink="/capital" class="nav-link mt-3 ml-1  badge badge-pill badge-dark" routerLinkActive="active"> Capital</a></h5>
   </li>
   <li class="nav-item float-right">
      <h5> <a   routerLink="/conteneurs" class="nav-link mt-3 ml-1  badge badge-pill badge-dark" routerLinkActive="active"> Conteneurs</a></h5>
   </li>
   <li class="nav-item float-right">
      <h5> <a   routerLink="/clients" class="nav-link mt-3 ml-1  badge badge-pill badge-dark" routerLinkActive="active"> Clients</a></h5>
   </li>
   <li class="nav-item float-right">
      <h5> <a   routerLink="/commande" class="nav-link mt-3 ml-1  badge badge-pill badge-dark" routerLinkActive="active">Factures</a></h5>
   </li>
    <li class="nav-item float-right">
       <h5> <a   routerLink="/articles" class="nav-link mt-3 ml-1  badge badge-pill badge-dark" routerLinkActive="active"> Articles</a></h5>
    </li>
    <li class="nav-item">
       <h5><a   routerLink="categories" class="nav-link mt-3 ml-1      badge badge-pill badge-dark" routerLinkActive="active" > Categories</a></h5> 
    </li>
    <li class="nav-item float-right">
      <h5> <a   routerLink="/autres" class="nav-link mt-3 ml-1  badge badge-pill badge-dark" routerLinkActive="active"> Autres</a></h5>
   </li>
   <!-- 
    <li class="nav-link">
      <h5><a   routerLink="/logout" class="nav-link mt-2 ml-1 badge badge-pill badge-danger font-weight-bold " routerLinkActive="active" >Deconnexion</a></h5> 
   </li>
   <li class="nav-item">
    <h5><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link  badge badge-pill badge-success font-weight-bold " routerLinkActive="active" > Connexion</a></h5> 

   </li>
   
   <li class="nav-item">
    <h5><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/detailprojet" class="nav-link ml-2  badge badge-pill badge-dark font-weight-bold " routerLinkActive="active" >Membres du Projet</a></h5> 
 </li>
 -->
  </ul>
</nav>
</div>
